# Ignore compiled classes
build/
dist/
*.class

# Ignore NetBeans private data
nbproject/private/

# Ignore NetBeans build artifacts
nbbuild/
nbdist/
.nb-gradle/

# Ignore temporary files
*.log
*.tmp
*.bak

# Ignore OS-specific files
.DS_Store
Thumbs.db
